<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TatkalAutomation Test Suite" verbose="2" parallel="false">
    <test name="Login Test">
        <classes>
            <class name="testcases.LoginTest">
                <methods>
                    <include name="Login"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>